.description {
  height: 95%;
  width: 300px;
}

.description,
.box_text {
  text-align: right;
  line-height: 1.35em;
}

.title {
  font-style: italic;
  width: 100%;
  margin-bottom: 10px;
}

.title_left {
  float: left;
  margin: 0 0 0 30px;
}

.title_right {
  float: right;
}

.description,
.title {
  margin-left: 50px;
}

.box_text {
  word-spacing: 0.2em;
  width: max-content;
  margin-bottom: 10px;
}

.box_text i {
  display: contents;
}

.description,
.box_text,
.title_left,
.title_right {
  font-size: 9pt;
}

/* Medium screens (768px to 1535px) */
@media (max-width: 1535px) {
  .description,
  .box_text,
  .title_left,
  .title_right {
    font-size: 8pt;
  }
}

/* Small screens (below 768px) */
@media (max-width: 767px) {
  .description,
  .box_text,
  .title_left,
  .title_right {
    font-size: 5.5pt;
  }
}
