#description {
  text-align: right;
  line-height: 1.5em;
  font-size: 1.25em;
}

.box_text_wrapper_1,
.box_text_wrapper_2,
.box_text_wrapper_3,
.box_text_wrapper_4,
.box_text_wrapper_5 {
  display: table;
  height: 600px;
  margin: 0 40px 0 0;
  text-align: right;
}

.box_text_wrapper_1 {
  width: 650px;
}
.box_text_wrapper_2 {
  width: 470px;
}
.box_text_wrapper_3 {
  width: 330px;
}
.box_text_wrapper_4 {
  width: 360px;
}
.box_text_wrapper_5 {
  width: 560px;
}

.box_text {
  display: table-cell;
  font-size: 1.23em;
  line-height: 1.2em;
  padding: 0 0 10px;
  vertical-align: bottom;
  word-spacing: 0.1em;
}
