/* #photo_z {
  width: 597px;
  height: 600px;
}

#photo_a {
  width: 594px;
  height: 600px;
}
#photo_b {
  width: 595px;
  height: 600px;
}
#photo_c {
  width: 598px;
  height: 600px;
}
#photo_d {
  width: 599px;
  height: 600px;
}
#photo_e {
  width: 596px;
  height: 600px;
}
#photo_f {
  width: 601px;
  height: 600px;
}
#photo_g {
  width: 599px;
  height: 600px;
}
#photo_g1 {
  width: 605px;
  height: 600px;
}
#photo_g2 {
  width: 602px;
  height: 600px;
}
#photo_h {
  width: 594px;
  height: 600px;
}
#photo_i {
  width: 601px;
  height: 600px;
}
#photo_j {
  width: 600px;
  height: 600px;
}
#photo_k {
  width: 601px;
  height: 600px;
}
#photo_l {
  width: 599px;
  height: 600px;
}
#photo_m {
  width: 599px;
  height: 600px;
}
#photo_n {
  width: 598px;
  height: 600px;
}
#photo_o {
  width: 596px;
  height: 600px;
}
#photo_p {
  width: 600px;
  height: 600px;
}
#photo_q {
  width: 596px;
  height: 600px;
} */
