.first_image {
  margin-left: 20px;
}

.box_width {
  width: 300px;
}

@media (min-width: 640px) {
  .box_width {
    width: 370px;
  }
}

@media (min-width: 1024px) {
  .first_image {
    margin-left: 250px;
  }

  .box_width {
    width: 650px;
  }
}

@media (min-width: 1536px) {
  .first_image {
    margin-left: 580px;
  }

  .box_width {
    width: 750px;
  }
}
