.wrapper {
  width: 100%;
}
.wrapper > div:first-child {
  width: 40px;
}

.slideshow_wrapper {
  width: 100%;
}

.my_cycle_slideshow .slide,
.my_cycle_slideshow .slideS,
.my_cycle_slideshow .slideL {
  position: relative;
}

.my_cycle_slideshow .slide,
.my_cycle_slideshow .slideS,
.my_cycle_slideshow .slideL {
  width: 390px;
}

.my_cycle_slideshow,
.my_cycle_slideshow > div div div {
  height: 390px;
}

.my_cycle_slideshow .slideS {
  width: 315px;
}

/* TODO images size is correct but it doesn't play well with the back/next buttons */
.my_cycle_slideshow > div .slideS div,
.my_cycle_slideshow > div .slideL div {
  height: auto;
}

.my_cycle_slideshow > div div {
  font-size: 4pt;
}

@media (min-width: 640px) {
  /* TODO */
}

@media (min-width: 1024px) {
  .my_cycle_slideshow .slide {
    width: 800px;
  }

  .my_cycle_slideshow,
  .my_cycle_slideshow > div div div {
    height: 800px;
  }

  .my_cycle_slideshow .slideS {
    width: 645px;
  }

  .my_cycle_slideshow .slideL {
    width: 990px;
  }

  .my_cycle_slideshow > div div {
    font-size: 8pt;
  }
}

@media (min-width: 1536px) {
  .my_cycle_slideshow .slide {
    width: 890px;
  }

  .my_cycle_slideshow,
  .my_cycle_slideshow > div div div {
    height: 890px;
  }

  .my_cycle_slideshow .slideS {
    width: 715px;
  }

  .my_cycle_slideshow .slideL {
    width: 1110px;
  }

  .my_cycle_slideshow > div div {
    font-size: 9pt;
  }
}

.my_cycle_slideshow > div {
  position: absolute;
  right: 3%;
  transition: opacity 1000ms ease-in-out;
  -moz-transition: opacity 1000ms ease-in-out;
  -webkit-transition: opacity 1000ms ease-in-out;
}

.my_cycle_slideshow .transition_hide {
  opacity: 0;
}

.my_cycle_slideshow .transition_show {
  opacity: 1;
}

.my_cycle_slideshow > div div {
  text-align: right;
}

.my_cycle_slideshow > div div div {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.my_cycle_slideshow > div div .main_title {
  text-align: center;
}

.my_cycle_slideshow > div div .main_title p {
  font-variant: small-caps;
  font-size: 2em;
  font-style: normal;
  letter-spacing: 0.09em;
  margin: 0;
}

.my_cycle_slideshow > div div p {
  font-family: georgia, serif;
  line-height: 1.5em;
  font-size: 1.3em;
  font-style: italic;
  letter-spacing: 0.04em;
}
.my_cycle_slideshow > div div div p.author {
  font-variant: small-caps;
  padding-top: 3px;
}

/* last slide, info */
.my_cycle_slideshow > div div div.last {
  justify-content: flex-end;
  margin-top: -5%;
}

.my_cycle_slideshow > div div div.last p {
  font-style: normal;
}

.my_cycle_slideshow > div div div.last p.title {
  display: block;
  font-variant: small-caps;
  font-size: 1.9em;
  padding-bottom: 15px;
  letter-spacing: 0.09em;
}

.my_cycle_slideshow > div div div.last p.date {
  padding-bottom: 50px;
}

.my_cycle_slideshow > div div div.last p.bibliography {
  font-size: 1.1em;
}
