div.header {
  width: 380px;
  margin: 0 100px 0 0px;
}

#photo_1 {
  width: 585px;
  height: 380px;
}
#photo_5 {
  width: 588px;
  height: 380px;
}
#photo_7 {
  width: 850px;
  height: 552px;
}
#photo_f {
  width: 572px;
  height: 380px;
  align-self: flex-end;
  margin-bottom: 16px;
}
#photo_g {
  width: 575px;
  height: 380px;
  align-self: flex-end;
  margin-bottom: 16px;
}
#photo_h {
  width: 566px;
  height: 380px;
  margin-top: -150px;
}
#photo_6 {
  width: 800px;
  height: 518px;
}
#photo_e {
  width: 775px;
  height: 518px;
}
#photo_a {
  width: 782px;
  height: 518px;
}
#photo_i {
  width: 783px;
  height: 518px;
}
