html,
body {
  height: 100%;
}

body,
ul,
p {
  padding: 0;
  margin: 0;
}

div,
p {
  font-family: tahoma, Geneva, sans-serif;
  font-size: 7pt;
  color: #444;
}

a {
  outline: none;
  text-decoration: none;
}

div#__next {
  height: 100%;
}

main {
  height: 100%;
  overflow: hidden;
}

main .mCSB_container {
  height: 100%;
}

/* HORIZONTAL SCROLL */
main.horizontal_scroll {
  overflow-x: scroll;
}

::-webkit-scrollbar {
  height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #eee;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.3);
}
/* END OF HORIZONTAL SCROLL */

.wrapper {
  display: table;
  height: 100%;
  float: left;
}

.wrapper > div:first-child {
  vertical-align: top;
}

.cell {
  display: table-cell;
  vertical-align: middle;
}

.header {
  position: relative;
  padding: 0;
  line-height: 12pt;
  display: table;
  width: 300px;
  height: 750px;
  margin: 0 120px 0 100px;
}

#description {
  display: table-row;
  height: 100%;
}

.title {
  display: table-row;
  font-style: italic;
  height: 70px;
}

.title_left {
  float: left;
  font-size: 1.35em;
  margin: 0 0 0 30px;
}

.title_right {
  float: right;
  font-size: 1.35em;
}

.box,
.boxbox,
.boxNarrow,
.boxDistant,
.boxDistantX,
.boxDistantXX,
.hbox,
.hboxbox,
.hboxNarrow,
.hboxDistant,
.hboxDistantX,
.hboxDistantXX,
.vbox,
.vboxbox,
.vboxNarrow,
.vboxDistant,
.vboxDistantX,
.vboxDistantXX {
  position: relative;
  float: left;
  text-align: center;
}

.boxNarrow,
.hboxNarrow,
.vboxNarrow {
  margin: 0 20px 0 0px;
}
.box,
.hbox,
.vbox {
  margin: 0 40px 0 0px;
}
.boxbox,
.hboxbox,
.vboxbox {
  margin: 0 80px 0 0px;
}
.boxDistant,
.hboxDistant,
.vboxDistant {
  margin: 0 150px 0 0px;
}
.boxDistantX,
.hboxDistantX,
.vboxDistantX {
  margin: 0 300px 0 0px;
}
.boxDistantXX,
.hboxDistantXX,
.vboxDistantXX {
  margin: 0 600px 0 0px;
}

/*  -----------------------
    Navigation Menu
    ----------------------- */

html:-moz-full-screen {
  background: #fff;
}

#navigation_menu {
  margin: 20px 0 0 20px;
}

#navigation_menu li {
  list-style: none;
}

#navigation_menu span {
  color: #bbb;
  visibility: hidden;
  padding: 0 0 0 30px;
  position: absolute;
  text-transform: uppercase;
  line-height: 20px;
  white-space: nowrap;
  opacity: 0;
}

#navigation_menu a {
  background-image: url(../public/icons.png);
  background-repeat: no-repeat;
  height: 20px;
  width: 20px;
  margin: 0 0 15px 0;
  display: block;
  position: relative;
  opacity: 1;
  cursor: pointer;
}

#navigation_menu a {
  transition: opacity 0.25s ease-in-out;
  -moz-transition: opacity 0.25s ease-in-out;
  -webkit-transition: opacity 0.25s ease-in-out;
}

#navigation_menu span {
  transition: visibility 0.25s ease-in-out, opacity 0.25s ease-in-out;
  -moz-transition: visibility 0.25s ease-in-out, opacity 0.25s ease-in-out;
  -webkit-transition: visibility 0.25s ease-in-out, opacity 0.25s ease-in-out;
}

#navigation_menu a:hover span {
  visibility: visible;
  opacity: 1;
}
#navigation_menu a:hover {
  opacity: 0.6;
}
#navigation_menu #back {
  background-position: 0 -92px;
}
#navigation_menu #fullscreen {
  background-position: 0 -152px;
  display: none;
}
#navigation_menu #exit_fullscreen {
  background-position: 0 -182px;
  display: none;
}
#navigation_menu #read_book {
  background-position: 0 -122px;
}

.mCSB_buttonUp,
.mCSB_buttonDown,
.mCSB_buttonLeft,
.mCSB_buttonRight {
  background-image: url(../public/icons.png);
  background-repeat: no-repeat;
  opacity: 0.3;
  filter: "alpha(opacity=30)";
}
.mCSB_buttonUp {
  background-position: 0 0;
  /*
	sprites locations are 0 0/-16px 0/-32px 0/-48px 0 (light) and -80px 0/-96px 0/-112px 0/-128px 0 (dark)
	*/
}
.mCSB_buttonDown {
  background-position: 0 -20px;
  /*
	sprites locations are 0 -20px/-16px -20px/-32px -20px/-48px -20px (light) and -80px -20px/-96px -20px/-112px -20px/-128px -20px (dark)
	*/
}
.mCSB_buttonLeft {
  background-position: -100px -40px;
  /*
	sprites locations are 0 -40px/-20px -40px/-40px -40px/-60px -40px (light) and -80px -40px/-100px -40px/-120px -40px/-140px -40px (dark)
	*/
}
.mCSB_buttonRight {
  background-position: -100px -56px;
  /*
	sprites locations are 0 -56px/-20px -56px/-40px -56px/-60px -56px (light) and -80px -56px/-100px -56px/-120px -56px/-140px -56px (dark)
	*/
}
.mCSB_buttonUp:hover,
.mCSB_buttonDown:hover,
.mCSB_buttonLeft:hover,
.mCSB_buttonRight:hover {
  opacity: 0.2;
  filter: "alpha(opacity=20)";
}
.mCSB_buttonUp:active,
.mCSB_buttonDown:active,
.mCSB_buttonLeft:active,
.mCSB_buttonRight:active {
  opacity: 0.15;
  filter: "alpha(opacity=15)";
}
