html,
body {
  height: 100%;
}

body,
ul,
p {
  padding: 0;
  margin: 0;
}

div,
p {
  font-family: tahoma, Geneva, sans-serif;
  font-size: 7pt;
  color: #444;
}

a {
  outline: none;
  text-decoration: none;
}

div#__next {
  height: 100%;
}

main {
  height: 100%;
  overflow: hidden;
}

.wrapper {
  display: table;
  height: 100%;
  float: left;
}

.cell {
  display: table-cell;
  vertical-align: middle;
}

.header {
  position: relative;
  padding: 0;
  line-height: 12pt;
  display: table;
  width: 300px;
  height: 750px;
  margin: 0 120px 0 100px;
}

#description {
  display: table-row;
  height: 100%;
}

.title {
  display: table-row;
  font-style: italic;
  height: 70px;
}

.title_left {
  float: left;
  font-size: 1.35em;
  margin: 0 0 0 30px;
}

.title_right {
  float: right;
  font-size: 1.35em;
}

.box,
.boxNarrow,
.boxDistant,
.boxDistantX,
.boxDistantXX {
  position: relative;
  float: left;
  text-align: center;
}

.boxNarrow {
  margin: 0 20px 0 0px;
}
.box {
  margin: 0 40px 0 0px;
}
.boxDistant {
  margin: 0 150px 0 0px;
}
.boxDistantX {
  margin: 0 300px 0 0px;
}
.boxDistantXX {
  margin: 0 600px 0 0px;
}
.boxDistantXXX {
  margin: 0 1100px 0 0px;
}

/* Utility Classes */
.h-full {
  height: 100%;
}

.w-full {
  width: 100%;
}

.max-w-max {
  width: max-content;
}

.align-top {
  vertical-align: top;
}

.align-middle {
  vertical-align: middle;
}

.flex {
  display: flex;
}
